.main-chat {
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spacer {
  padding-top: 100px;
}
.tb-screen {
  background-color: #c3f4f3;
}
.chat__timestamp {
  font-size: 12px;
  color: white;
  background-color: #92a4b2;
  padding: 5px 10px;
  border-radius: 16px;
  margin-bottom: 30px;
}
.message-row {
  display: flex;
  margin-bottom: 25px;
  width: 450px;
  animation: fadeIn 0.4s linear;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__time,
.message__author {
  color: #636e76;
  font-size: 14px;
}
.message__bubble {
  background-color: white;
  padding: 8px 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__author {
  margin-bottom: 5px;
  display: block;
}
.message__time {
  font-size: 10px;
}
.message-row--own {
  display: flex;
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: #f2f3ca;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply i {
  opacity: 0.5;
}
.reply input {
  height: 30px;
  padding-left: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -5px;
  top: 3px;
}
.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}
.reply__column button {
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #f2f3ca;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 94vw;
  transform: translateX(-13%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
